.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.meal h4 {
    margin: 0 0 0.25rem 0;
}


.price {
    margin-top: 0.75rem;
    font-weight: normal;
    font-size: 1.5rem;
}