.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #0a9973;
    border: 1px solid #0a9973;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 10%;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #F1F1F1;
    border-color: #F1F1F1;
    color: #0a9973;
}